body{
    margin: auto;
}

.main-cont{
    margin: 10px;

}
.top{
    border: 1px solid;
    max-width: 100%;
    overflow: hidden;
}
.top img{
    float: left;
    height: 40px;
    margin-left: 15px;
}
.navbar{
    float: right;
    
}
ul{
    list-style-type: none;
}
li{
    float: right;
}
li a{
    text-decoration: none;
    padding: 7px;
    margin: 10px;
} 

